<div
  class="p-0 m-0 container-fluid bg-primary h-100 w-100 d-flex justify-content-between"
>
  <div
    class="flex-fill h-100 auth-background flex-column d-flex justify-content-between align-items-center"
  >
    <div class="bg-primary text-white p-5">
      <h3 class="font-weight-light">Soluciones a la medida de tu negocio</h3>
      <p class="font-weight-light">
        <b>atucasa</b> Te permitirá incrementar las ventas de tu negocio y
        alcanzar muchos mas clientes, reduciendo la carga de tu personal, y
        mejorando la eficiencia de tu sistema de domicilios.
      </p>
    </div>
    <img src="assets/images/motorbike.svg" style="width: 60%" />
  </div>

  <div
    class="p-4 h-100 auth-panel d-flex flex-column align-items-center"
  >
    <img
      src="assets/images/logo-color.png"
      style="max-width: 400px; width: 80%"
      class="mb-5"
    />


    <router-outlet></router-outlet>


  </div>
</div>
