@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;617;700&display=swap');

$primary:#DB0610;
$secondary:#333;
$black: black;
$font-family-sans-serif: 'Comfortaa', sans-serif;
$navbar-padding-y: 1rem;

$font-size-base: 0.85rem;
$line-height-base: 1.3;
