<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h5 class="text-center mb-5 text-primary">
        Recuperación de Contraseña | Portal de Clientes
      </h5>

      <form [formGroup]="forgotPasswordForm">
        <div class="form-group">
          <label>E-Mail</label>
          <input
            type="text"
            class="form-control"
            type="text"
            formControlName="email"
            placeholder="E-Mail de Registro"
          />
        </div>

        <div
          class="form-row d-flex justify-content-between align-items-center mt-4"
        >
          <a
            class="btn btn-secondary w-100 col-md-6"
            [routerLink]="['/auth', 'registration']"
            role="button"
          >
            <i class="fas fa-rocket mr-3"></i> Enviar</a
          >

          <a [routerLink]="['/auth', 'login']" class="col-md-6 pl-4"
            >← Volver a Inicio de Sesión</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
